nextflow.enable.dsl = 2

params {
  in_dir  = 'data/valid'
  out_dir = 'data/outputs'
  log_dir = 'data/outputs/logs'
  
  ref_fasta_path = "$params.in_dir/*{ref,reference_genome}.{fa,fna,fasta}"
  mod_fasta_path = "$params.in_dir/*{assembled_genome,mod}.{fa,fna,fasta}"

  help = false
  max_cpu = 1
  clean_work = false
}

process {
  errorStrategy = 'finish'  // terminate|finish|ignore

  withName: bcftools_stats       { container = 'staphb/bcftools:1.23' }
  withName: convert_bcf_to_vcf   { container = 'staphb/bcftools:1.23' }
  withName: index_vcf            { container = 'staphb/bcftools:1.23' }  
  withName: sort_vcf             { container = 'staphb/bcftools:1.23' }
  withName: vcf_to_table         { container = 'staphb/bcftools:1.23' }
  withName: vcf_to_table_long    { container = 'staphb/bcftools:1.23' }
  withName: bwa_index            { container = 'biocontainers/bwa:v0.7.17_cv1' }
  withName: bwa_mapping          { container = 'biocontainers/bwa:v0.7.17_cv1' }
  withName: cute_sv              { container = 'ecomolegmo/cutesv:v1.0.1' }
  withName: debreak              { container = 'ecomolegmo/debreak:v1.0.1' }
  withName: delly                { container = 'dellytools/delly:v1.7.2' }
  withName: fastqc               { container = 'biocontainers/fastqc:v0.11.9_cv8' }
  withName: freebayes            { container = 'biocontainers/freebayes:v1.2.0-2-deb_cv1' }
  withName: minimap2             { container = 'staphb/minimap2:2.30' }
  withName: multiqc              { container = 'staphb/multiqc:1.33' }
  withName: nucmer               { container = 'staphb/mummer:4.0.1' }
  withName: delta_filter         { container = 'staphb/mummer:4.0.1' }
  withName: show_coords          { container = 'staphb/mummer:4.0.1' }
  withName: nanoplot             { container = 'staphb/nanoplot:1.46.2' }
  withName: picard_dict          { container = 'quay.io/biocontainers/picard:2.26.10--hdfd78af_0' }
  withName: picard               { container = 'quay.io/biocontainers/picard:2.26.10--hdfd78af_0' }
  withName: samtools_index       { container = 'staphb/samtools:1.23' }
  withName: samtools_index_bam   { container = 'staphb/samtools:1.23' }
  withName: samtools_sort        { container = 'staphb/samtools:1.23' }
  withName: samtools_stats       { container = 'staphb/samtools:1.23' }
  withName: get_unmapped_reads   { container = 'staphb/samtools:1.23' }
  withName: calc_total_reads     { container = 'staphb/samtools:1.23' }
  withName: sniffles             { container = 'ecomolegmo/sniffles:v1.0.1' }
  withName: snpeff               { container = 'biocontainers/snpeff:v4.1k_cv3' }
  withName: survivor             { container = 'ecomolegmo/survivor:v1.0.1' }
  withName: syri                 { container = 'ecomolegmo/syri:v1.0.1' }
  withName: trimgalore           { container = 'vibsinglecellnf/trimgalore:trimgalore-0.6.7-cutadapt-4.1' }
  withName: truvari              { container = 'ecomolegmo/truvari:v1.0.1' }
}

profiles {
  standard {
      docker.enabled = true
      docker.runOptions = '-u $(id -u):$(id -g)'
  }
}

plugins {
    id 'nf-schema@2.4.2'
}


manifest {
    name             = 'denisHanch/efsa_pipeline'
    description      = 'A pipeline that processes prokaryotic long & short reads using Nextflow'
    version          = '1.0.0'
    nextflowVersion  = '>=24.09.0'
    homePage         = 'https://github.com/denisHanch/efsa_pipeline'
    license          = 'EUPL-1.2'
    mainScript       = 'main.nf'
}


