nextflow.enable.dsl = 2

params {
  in_dir   = 'data/inputs'
  out_dir  = 'data/outputs'
  // workflow = 'basic'
  help = false
  log = true
}

docker.enabled = true

workDir = '/Users/esimonova/test_docker/efsa_pipeline/nextflow_pipeline/work'


profiles {
  docker {
    process.executor  = 'local'
    process.container = null // overridden per-module
  }
}

process {
  errorStrategy = 'finish'    // let all tasks run
}
