nextflow.enable.dsl = 2
nextflow.enable.configProcessNamesValidation = false

params {
  config_json = 'data/inputs/config.json'
}

docker {
  enabled    = true
  runOptions = '-u $(id -u):$(id -g)'
}

manifest {
  name        = 'denisHanch/efsa_pipeline-validation'
  description = 'Validation workflow for the EFSA pipeline'
  mainScript  = 'validation.nf'
}

trace {
  enabled   = true
  overwrite = true
  file      = 'logs/validation_trace.tsv'
  fields    = 'task_id,name,status,exit,start,complete,duration,realtime,cpus,%cpu,memory,%mem,rss,peak_rss'
}

report {
  enabled   = true
  overwrite = true
  file      = 'logs/validation_report.html'
}

timeline {
  enabled   = true
  overwrite = true
  file      = 'logs/validation_timeline.html'
}
