process {
    // switch to 'local' to run tasks on your machine
    executor = 'local'
    // errorStrategies to choose from terminate,finish,ignore,retry
    errorStrategy = 'ignore'
}

nextflow.enable.dsl=2

workDir = '/Users/esimonova/test_docker/efsa_pipeline/nextflow_pipeline/work'

docker.enabled = true
// docker.runOptions = "-u 1001:1001"

params {
    outDir = '/Users/esimonova/test_docker/efsa_pipeline/nextflow_pipeline/results'

    // gtf = 'test_files/genes.gtf'

    gff = 'test_files/genes.gff'

    genome = 'test_files/ref_genome.fasta'

    log = true
}
