process {
    // switch to 'local' to run tasks on your machine
    executor = 'local'
    // errorStrategies to choose from terminate,finish,ignore,retry
    errorStrategy = 'ignore'
}

nextflow.enable.dsl=2

workDir = '/tmp/efsa_pipeline/output/work'

docker.enabled = true

params {
    outDir = '/tmp/efsa_pipeline/output/results'

    // gtf = 'test_files/genes.gtf'

    gff = 'test_files/genes.gff'

    genome = 'test_files/ref_genome.fasta'

    log = true
}