name: "CHECK: Branch Naming"

on:
  pull_request:
    branches:
      - main

jobs:
  branch-name-check:
    runs-on: ubuntu-latest

    env:
      ISSUE_PREFIX: ${{ vars.PROJECT_PREFIX }}
      IGNORE_PREFIX: ${{ vars.IGNORE_PREFIX }}

    steps:
      - name: Check branch name convention
        run: |
          BRANCH="${{ github.head_ref }}"
          
          # Allow quick-fix branches prefixed with "no-issue"
          if [[ "$BRANCH" =~ ^${IGNORE_PREFIX} ]]; then
            echo "✅ Detected '${IGNORE_PREFIX}' branch – skipping naming convention."
            exit 0
          fi

          # Enforce naming cinvention check
          if ! [[ $BRANCH =~ ^(feature|bugfix|docs)/${ISSUE_PREFIX}-[0-9]+_.+ ]]; then
            echo "❗ Branch name is invalid. Must follow pattern:"
            echo "  (feature|bugfix|docs)/${ISSUE_PREFIX}-<number>_your_branch_name"
            echo "  or start with '${IGNORE_PREFIX}'"
            exit 1
          else
            echo "✅ Branch name valid: $BRANCH"
          fi
