name: "CHECK: Branch Naming"

on:
  pull_request:
    branches:
      - main

jobs:
  branch-name-check:
    runs-on: ubuntu-latest
    steps:
    - name: Check branch name convention
      run: |
        BRANCH="${{ github.head_ref }}"
        ISSUE_PREFIX="${{ vars.PROJECT_PREFIX }}"
        if ! [[ $BRANCH =~^(feature|bugfix|docs)/${ISSUE_PREFIX}-[0-9]+_.+ ]]; then
          echo "Branch name is invalid. Must follow pattern:"
          echo "(feature|bugfix|docs)/${ISSUE_PREFIX}-#ISSUE_your_branch_name"
          exit 1
        fi
